<% @top_poems[0..5].each_with_index do |rated_poem, i| %>
  <% poem = Poem.find_by_id(rated_poem[0]) %>
    <%= "#{i+1}. " %><a href="/poems/<%= poem.id %>"><%= poem.title %></a>
    <pre><%=poem.content%></pre>
    - <%= poem.user.username %>
<% end %>
